.CharacterBox {
    display: flex;
    flex-direction: column;
    color: red;
}

.CountBoxes {
    display: flex;
    flex-direction: row;
}

.HealthBox {
    margin: 10px;
}

.TokenBox {
    margin: 10px;
}