.CharacterBox {
    display: flex;
    flex-direction: column;
    color: red;
    position: relative;
    width: 250px;
    height: 300px;
    margin-right: 10px;
    margin-left: 10px;
}

.CountBoxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    color: white;
    height: 50px;
}

.HealthBox {
    width: 20%;
    text-align: center;
}

.HealthIcon {
    margin: 0px;
}

.HealthValue {
    margin: 0px;
}

.TokenBox {
    text-align: center;
    width: 20%;
}

.TokenIcon {
    margin: 0px;
}

.TokenValue {
    margin: 0px;
}

.RollBox {
    width: 60%;
    margin: 0px;
    text-align: center;
}

.RollOutput {
    margin: 0px;
}

.CharacterIcon {

}

.CharacterNamesText {
    text-align: center;
}

.UsernameText {
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    color:rgb(248, 145, 158);
}

.AsText {
    font-size: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
}

.CharacterName {
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: rgb(214, 51, 73);
}

.CharacterText {
    text-wrap: pretty;
    text-align: center;
    color:rgb(248, 145, 158);
    margin: 0px;
    font-size: 20px;
}