.CharacterController {
    display: flex;
    flex-direction: row;
    color: aliceblue;
    position: inherit;
}

.StatsBox {
    display: flex;
    flex-direction: row;
}

.DiceControls {
    display: flex;
    flex-direction: column;
}