.ActiveRollBox {
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0);
}

.RollBox {
    width: 20%;
    margin: 0px;
    text-align: center;
    color: black;
    font-family: chemreA;
    font-size: 60px;
    background-color: rgba(0, 0, 0, 0);
}

.RollOutput {
    margin: 0px;
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: 10%;
    align-self: center;
}

.DiceImage {
    display: block;
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: 100%;
}